



<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
      <h1>Lista de propiedades</h1>
      <hr>
  </div>
</div>

<div class="row container">
  <div class="col-2"></div>

  <div class="col">

      <div class="row">

          <div class="col-4 mb-2"
               *ngFor="let propiedad of propiedades">

              <div class="card">
                  <!-- como este elemento sa va dubplicar - creamos un componente para la instancia de la mapa y marker - asi tenemos la logica sesilal y abtracta -->
                  <app-mini-mapa [lngLat]="propiedad.lngLat" class="card-img-top"></app-mini-mapa>

                  <div class="card-body">
                      <h5 class="card-title"> {{ propiedad.titulo }} </h5>
                      <p class="card-text"> {{ propiedad.descripcion }} </p>
                  </div>
                  <!-- puede implementa buton para mostrt mas detalles sobre especifico cardo rederizando comoponente de mapa grande grande
                       siempre la data de los locales este en unservicion Injectable y tambien a nicel de class podemos trabajr conn boolean para la mostracion o ocultacion
                  -->
              </div>

          </div>

      </div>
  </div>
</div>


